<%- include('../partials/questions/header') %>
<body>
  <h1>Page not found</h1>
  <div class="main">
    <h2>stay a while and listen</h2>
        <h3></h3>
        <iframe width="1280" height="1081" src="https://www.youtube.com/embed/EWMPVn1kgIQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <ol>
            <li><a href="/question1">Q1</a></li>
            <li><a href="/question2">Q2</a></li>
            <li><a href="/question3">Q3</a></li>
            <li><a href="/question4">Q4</a></li>
            <li><a href="/question5">Q5</a></li>
            <li><a href="/question6">Q6</a></li>
            <li><a href="/question7">Q7</a></li>
            <li><a href="/question8">Q8</a></li>
            <li><a href="/question9">Q9</a></li>
            <li><a href="/question10">Q10</a></li>
        </ol>
        <p>Seems you got lost somewhere, use these links to get back</p>
      </div>
    </div>
  </div>
</body>